.color-gia{
    color: #EFAE2C;
}

.btn-add{
    background-color: var(--color-secondary-dark);
    color: var(--color-white);
    font-family: var(--font-secondary);
}

.btn-add:hover{
    color: wheat;
}

.header-wrapper {
    border-bottom: solid #dee2e6 1px;
}

#go-back-link:hover #arrow-left{
    display: none;
}

#go-back-link:hover #arrow-left-fill{
    display: inline !important;
}